// body styles
body{
    background-image: url("../../images/2314950.webp");
}
// body styles
// form styles
#form-section{
    .container{
        form{
            .form-floating{
                input{
                    border: 1px solid white !important;
                }
                label{
                    color: white !important;
                }
            }
        }
    }
}
// form styles