// body
body{
  background-image: url("../../images/4172305.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
// body
// navbar styles
#navbar{
  .navbar{
    .container{
      @media screen and (max-width: 372px){
        justify-content: center;
        .navbar-brand{
          margin-right: 0;
        }
      }
      .navbar-brand{
        width: 12rem;
      }
      .collapse{
        display: flex;
        .navbar-nav{
          .nav-item{
            @include d-flex;
            height: 90px;
            .nav-link{
              height: 100%;
              @include d-flex;
              color: $navbar-links-color;
              span{
                transition: color .15s ease-in-out;
                font-weight: 400;
              }
            }
            .nav-link:hover{
              color: $navbar-links-color-when-hover !important;
            }
          }
        }
      }
    }
  }
}
// navbar styles
// signup styles
#form-section{
  padding-top: 50px;
  padding-bottom: 50px;
  .container{
    form{
      background-color: rgba(0,0,0,0) !important;
      .form-floating-container {
        padding-top: 40px;
        padding-left: 30px;
        .form-floating{
          input{
            background-color: rgba(0,0,0,0);
            transition: all .15s ease-in-out;
            border: 1px solid black;
          }
          input:focus{
            box-shadow: 0px 0px 17px 2px #00a5ff;
          }
          label{
            color: black;
          }
        }
        .btn{
          width: 12rem;
          transition: all .15s ease-in-out;
        }
      }
      .have-account{
        a{
          transition: color .15s ease-in-out;
        }
        a:hover{
          color: $already-color-when-hover !important;
        }
      }
    }
  }
}
// signup styles
// loader styles
.loader{
  background-color: $loader-background-color;
  z-index: 1000;
  overflow-x: hidden;
  transition: opacity 1s ease-in-out;
  .loader-icon{
      height: 5rem;
      width: 5rem;
      border-top: 5px solid red;
      border-bottom: 5px solid blue;
      border-right: 5px solid green;
      border-left: 5px solid yellow;
      border-radius: 50px;
      animation: loader-animation 2s ease-in-out infinite;
      @include loader-animation-mixin
  }
}
// loader styles