// navbar styles
#navbar{
    .navbar{
        .container{
            .navbar-brand{
                width: 12rem;
            }
            .collapse{
                display: flex;
                flex-basis: 0;
                .navbar-nav{
                    .nav-item{
                        @include d-flex;
                        height: 90px;
                        .nav-link{
                            height: 100%;
                            @include d-flex;
                            padding: 0 1rem 0 1rem;
                            color: $navbar-links-color;
                            span{
                                transition: color .15s ease-in-out;
                                font-weight: 400;
                            }
                        }
                        .nav-link:hover{
                            color: $navbar-links-color-when-hover;
                        }
                    }
                }
            }
            .profile-container{
                @media screen  and (min-width: 650px){
                    padding-left: 20px;
                }
                @media screen  and (max-width: 650px){
                    padding-top: 20px;
                }
                min-width: 10rem;
                .profile{
                    transition: background-color .15s ease-in-out, color .15s ease-in-out;
                    background-color: $background-log-sign;
                    font-size: 17px;
                    color: $default-log-sign-color;
                }
                .profile:hover{
                    background-color: $background-log-sign-when-hover;
                    color: white;
                }
            }
        }
    }
}
// navbar styles
// site content styles
#site-content{
    background-color: $site-content-background;
    .container{
        padding-top: 160px;
        form{
            div{
                input{
                    transition: all .15s ease-in-out;
                }
            }
            margin-bottom: 80px;
            margin-left: -2rem;
        }
        .content-box{
            margin-bottom: 80px;
            transition: opacity .15s ease-in-out;
        }
        table{
            tbody{
                tr{
                    .table-input{
                        background-color: #212529;
                        border: 1px solid red;
                        color: white;
                    }
                }
            }
        }
    }
}
// site content styles
// loader icon
.loader-icon{
    height: 5rem;
    width: 5rem;
    border-top: 5px solid red;
    border-bottom: 5px solid blue;
    border-right: 5px solid green;
    border-left: 5px solid yellow;
    border-radius: 50px;
    animation: loader-animation 2s ease-in-out infinite;
    @keyframes loader-animation {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
}
// loader icon
// table loader styles
.table-loader{
    height: 5rem;
    @include d-flex;
    transition: opacity 1s ease-in-out;
}
// table loader styles
// notices styles
.learn-how-work{
    transition: opacity 1s ease-in-out;
    z-index: 1000;
}
.learn-how-work *{
    transition: opacity 1s ease-in-out;
}
// notices styles
// animated logo styles
.animated-logo{
    animation: animated-logo 5s ease-in-out infinite;
    @include animated-logo;
}
// animated logo styles
// alert styles
#alert{
    transition: all 1s ease-in-out;
    z-index: 900;
    background-color: $alert-container-background;
    .container{
        transition: transform 1s ease-in-out;
        background: $alert-background;
        border-radius: 50px;
        .OK-btn{
            width: 15rem;
        }
        .title{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}
// alert styles