$background-log-sign: white;
$background-log-sign-when-hover: #0e0e0e;
$default-log-sign-color: #0e0e0e;
$color-text-header: white;
$loader-background-color: #0e0e0e;
$color-log-sign-when-hover: white;