$navbar-links-color: white;
$navbar-links-color-when-hover: rgb(255, 106, 0);
$background-log-sign: white;
$background-log-sign-when-hover: #0e0e0e;
$default-log-sign-color: #0e0e0e;
$color-text-header: white;
$loader-background-color: #0e0e0e;
$site-content-background: rgb(180, 180, 180);
$alert-container-background: rgba(0, 0, 0, 0.5);
$alert-background: linear-gradient(45deg,blue 20%, rgb(104, 51, 250) 80%);